footer{
    background-color: red;
    color: black;
    font-weight: 1000px;
    margin-right: 300px;
    margin-left: 100px;
    margin-top: 50px;
}
table{
    padding: 80px;
    width: 100%;
    max-width: 1300px;
    text-align: left;
}

